{% extends 'core/base.html' %}

{% load static %}

{% block title %}Visítanos{% endblock %}

{% block content %}
<section class="row">
  <div class="col s12 m12 l10 offset-l1">
      <h2 class="">
        <span class="">Te esperamos</span>
        <span class="">Visítanos</span>
      </h2>
      <ul class="">
        <li class="">
          Lunes a viernes
          <span class="">7:00 a 20:00</span>
        </li>
        <li class="">
          Sábados
          <span class="">9:00 a 17:00</span>
        </li>
        <li class="">
          Domingos
          <span class="">Cerrado</span>
        </li>
      </ul>
      <p class="">
        <em>
          <strong>Avd. Infusiones nº 127</strong>
          <br>
          Barcelona
        </em>
      </p>
      <p class="">
        <small>
          <em>Llámanos y pregunta</em>
        </small>
        <br>
        (317) 585-8468
      </p>
  </div>
</section>
{% endblock %}