{% extends 'core/base.html' %}

{% block title %} Portafolio {% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Portafolio</h1>
<span>Curriculo</span>
{% endblock headers %}

{% block content %}


{% for project in projects %}
<div class="row">    
    <div class="col l4 s12">
        <img src="{{project.image.url}}" alt="" class="responsive-img">
    </div>
    <div class="col l8 s12">
        <h2>{{project.title}}</h2>
        <p>
            {{project.description}}
        </p>
        
        {% if project.link %}
        <p><a href="{{project.link}}">Mas Informacion</a></p>    
        {% endif %}
            
    </div>
</div>
{% endfor %}

{% endblock content %}