{% extends 'core/base.html' %}

{% block title %} Acerca de {% endblock %}
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span>Biografia</span>
{% endblock headers %}

{% block content %}
<div class="col l6">
    <img class="circle responsive-img" src="{% static 'core/img/avatar.jpg' %}" alt="">
</div>
<div class="col l6">
    <h2>Limber Mancilla </h2>
    <p>
        Nacido en .... Lorem ipsum, dolor sit amet consectetur adipisicing 
        elit. Facere quod dignissimos eos vero, praesentium illo! Aspernatur
        quas neque repudiandae, vero, odio debitis laudantium blanditiis sapiente
        molestias nesciunt velit sit? Cumque.
    </p>
</div>
{% endblock content %}
