{% extends 'core/base.html' %}

{% block title %} Contacto {% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span>Asesoria</span>
{% endblock headers %}

{% block content %}
<div class="col s12">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eum dolorem nobis deleniti porro minima neque nemo dicta laboriosam,
        itaque, tempora possimus dolores labore quam autem esse. Assumenda 
        odit deleniti repellat.
    </p>
    <p><b>Telefono:</b> +591 67385163</p>
    <p><b>Honorarios:</b> 5 $/h (precio base)</p>
</div>

{% endblock %}